@import '@/styles/variables';
@import '@/styles/fonts';
@import '@/styles/mixins';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;

  @include media-lg {
    padding: 0 24px;
  }

  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;

    .image {
      object-fit: contain;
      width: 60% !important;
      position: relative !important;
      height: unset !important;

      @include media-md {
        width: 40% !important;
      }
    }
  }

  .title {
    font-size: $font-size-xxl;
    font-family: $manjari-sans;
    margin: 24px 0 16px;
    text-align: center;
  }

  .subTitle {
    font-size: $font-size-xl;
    font-family: $manjari-sans;
    text-align: center;
    line-height: 1.75rem;
  }
}
