@import '@/styles/variables';
@import '@/styles/fonts';
@import '@/styles/mixins';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $p-8 $p-6;

  @include media-lg {
    padding: 0 $p-6;
  }

  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    .image {
      object-fit: contain;
      width: 60% !important;
      height: unset !important;
      position: relative !important;

      @include media-md {
        width: 40% !important;
      }
    }
  }

  .title {
    font-size: $font-size-xxl;
    font-family: $manjari-sans;
    margin: $p-6 0 $p-4;
    text-align: center;
  }

  .subTitle {
    font-size: $font-size-xl;
    font-family: $manjari-sans;
    text-align: center;
    line-height: $p-7;
  }
}
