@import '@/styles/variables';
@import '@/styles/fonts';
@import '@/styles/mixins';

.documentationCard {
  width: 100%;
  max-height: 100px;
  background-color: $card-color;
  overflow: hidden;

  padding: $p-3 $p-4;
  border-radius: $p-1;

  display: flex;
  flex-direction: column;
  align-items: baseline;

  .cardLink {
    width: 100%;
    height: 100%;
  }

  .textTitle {
    color: $text-color;
    font-family: $inter-sans;
    font-size: $font-size-sm;
    border-bottom-style: outset;
    margin-bottom: 5%;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
  }

  .contentContainer {
    display: flex;
    align-items: center;
    max-height: inherit;

    .textContent {
      color: $text-color;
      font-weight: 600;
      font-family: $inter-sans;
      font-size: $font-size-xxs;

      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      white-space: pre-wrap;
    }
  }
}
