// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');

// Font Variables
$manjari-sans: 'Manjari', sans-serif;
$cinzel-cursive: 'Cinzel Decorative', cursive;
$karma-slab: 'Karma', serif;

// Font Sizes
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
