// Variables
$max-width: 1450px;

// Padding
$p-0-5: 0.125rem;
$p-1: 0.25rem;
$p-1-5: 0.375rem;
$p-2: 0.5rem;
$p-2-5: 0.625rem;
$p-3: 0.75rem;
$p-3-5: 0.875rem;
$p-4: 1rem;
$p-5: 1.25rem;
$p-6: 1.5rem;
$p-7: 1.75rem;
$p-8: 2rem;
$p-24: 6rem;

// Colors
$background-color: rgba(14, 13, 17, 1);
$primary-color: rgba(33, 43, 57, 1);
$card-color: rgba(83, 96, 115, 1);
$disabled-color: rgba(200, 200, 200, 1);
$text-color: rgba(255, 255, 255, 1);
$white-color: rgba(255, 255, 255, 1);
$error-color: rgba(197, 71, 73, 1);
