@import 'fonts';
@import 'variables';
@import 'mixins';

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// HTML Elements
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: $primary-color;
  color: $text-color;
}

a {
  color: inherit;
  text-decoration: none;
}
