@import '@/styles/variables';
@import '@/styles/fonts';
@import '@/styles/mixins';

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: $p-3;

  .container {
    width: 100%;

    border-bottom: 1px solid;
    border-color: $text-color;

    .inputText {
      width: 100%;
      padding: $p-4;

      color: $text-color;
      background: transparent;
      border: none;

      outline: 2px solid transparent;
      outline-offset: 2px;
    }
  }
  > span {
    color: $error-color;
    font-family: $inter-sans;
    font-size: $font-size-sm;
  }
}
