@import '@/styles/variables';
@import '@/styles/fonts';
@import '@/styles/mixins';

.container {
  width: 100%;

  border-bottom: 1px solid;
  border-color: $text-color;

  .inputText {
    width: 100%;
    padding: $p-4;

    color: $text-color;
    background: transparent;
    border: none;

    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}
