@import '@/styles/variables';
@import '@/styles/fonts';
@import '@/styles/mixins';

.textEditor {
  .textEditorToolbar {
    background-color: $card-color;
    border: 0;

    display: flex;
    position: sticky;
    top: 0;
    z-index: 50;

    justify-content: center !important;
    margin-inline: auto;
  }

  .textEditorField {
    background-color: $card-color;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

    padding: $p-5;
    border-radius: $p-1;
    border-width: 1px;

    margin-top: $p-6;
  }
}
