@import '@/styles/variables';
@import '@/styles/fonts';
@import '@/styles/mixins';

.tagsInput {
  width: 100%;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $p-4;

  .tagItem {
    background-color: $card-color;

    padding: $p-1-5 $p-2-5;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: $p-3;

    .tagText {
      color: $text-color;
      font-size: $font-size-sm;
      font-family: $inter-sans;
      font-weight: 600;
      text-transform: uppercase;
    }

    .close {
      color: $text-color;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: $font-size-xl;
      cursor: pointer;
    }
  }

  .inputText {
    flex-grow: 1;
    font-size: $font-size-sm;
    color: $text-color;
    background: transparent;
    border: none;

    outline: 2px solid transparent;
    outline-offset: 2px;

    &::placeholder {
      color: rgba($text-color, 0.8);
    }
  }
}
